  
# Visual Studio cache directory
*/.vs/*
*.vs/**
.idea/


*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
/vendor/**
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/

