/*
#aboutme .aboutme-panel 
  .aboutme-text
    h2
    p
  .aboutme-img
*/

.aboutme-panel {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 50px;
  background: var(--primary-color);
  border-radius: 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap : 50px;
  height: 400px;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
}

.aboutme-title h2 {
  font-size: 80px;
}

.aboutme-content p {
  font-size: 20px;
}

.aboutme-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}

.aboutme-img img{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}

.skills{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
