:root {
  --text-color: rgba(225, 232, 254, 1);
  --background-color: rgba(1, 8, 30, 1);
  --background-clear-color: rgba(1, 8, 30, 0);
  --primary-color: rgba(0, 31, 161, 1);
  --secondary-color: rgba(2, 17, 64, 1);
  --primary-color-alpha: rgba(0, 31, 161, 0.65);
  --secondary-color-alpha: rgba(2, 17, 64, 0.65);
  --accent-color: rgba(0, 169, 255, 1);
}

body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color); 
}

/* Increase the font size of the <h1> element */
h1 {
  font-size: 80px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/* Increase the font size of the <h1> element */
h2 {
  font-size: 35px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/* Increase the font size of the <h1> element */
h5 {
  font-size: 30px;
}

/* Increase the font size of the <h1> element */
p {
  font-size: 16px;
}

/* Increase the font size of the <h1> element */
a {
  color: var(--accent-color); 
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Increase the font size of the <h1> element */
img {
  border-radius: 30px;
}

@media screen and (max-width: 725px) {
  body {
    margin: 10px;
  }  
}