/*
#projects
  h1
  .projects-main-list
    #AerRacers .project-panel-right/left
      .project-text
        .project-header
          .project-header-text
            h2
            p
          .project-tags-list
            a .project-tag
            a .project-tag
        h3 .project-small-text
        p .project-big-text
        .project-button-list
          .project-button
      .project-img
        img
  .projects-secondary-list
    #Dreamness .project-panel-right/left
      .project-text
        .project-header
          .project-header-text
            h2
            p
          .project-tags-list
            a .project-tag
            a .project-tag
        h3 .project-small-text
        p .project-big-text
        .project-button-list
          .project-button
            svg
          .project-button
      .project-img
        img
*/

#projects
{
  padding-top : 75px;
}

#projects h1
{
  text-align: left;
}

.projects-main-list
{
  display: flex;
  flex-direction: column;
  gap : 100px;
}

.project-panel-right
{
  background: var(--primary-color);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  height: 350px;
  direction: ltr;
  justify-content: space-between;
}

.project-panel-left
{
  background: var(--secondary-color);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  height: 350px;
  direction: rtl;
  justify-content: left;
}

.project-text
{
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding : 50px;
  min-width: 600px;
  width: 100%;
}

.project-header
{
  direction: ltr;
  display: flex;
  flex-direction: row;
  gap : 50px;
  /* height : 70px; */
  padding-bottom : 10px;
  justify-content: space-between;
}

.project-header-text
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title
{
  margin : 0px;
}

.project-date
{
  margin : 0px;
}

.project-tags-list
{
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: flex-end;
  gap : 10px;
  padding-right : 25px;
}

.project-tag
{
  color: var(--accent-color);
  width: 100px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.project-small-text
{
  /* margin : 0px; */
}

.project-big-text
{
  /* margin : 0px; */
}

.project-button-list
{
  display: flex;
  flex-direction: row;
  gap : 25px;
}

.project-button
{
  display: block;
  height: 50px;
  fill: var(--text-color); 
}

.project-button svg {
  display: block;
  height: 50px;
}

.project-button :hover {
  fill: var(--accent-color); 
}

.project-img {
  height: 100%;
  border-radius: 50px;
}

.project-img img{
  height: 100%;
}

.projects-secondary-list
{
  margin-top : 50px;
  display: flex;
  flex-direction : row;
  flex-wrap : wrap;
  gap : 50px;
}

.projects-secondary-list .project-panel-right {
  float:left;
  position:relative;
  max-width:30%;
  min-width:450px;
}

.projects-secondary-list .project-panel-left {
  float:left;
  position:relative;
  width:30%;
  min-width:450px;
}

.projects-secondary-list .project-panel-right .project-text {
  z-index: 5;
  position: relative;
  background-color: var(--primary-color-alpha);
  border-radius: 50px;
  padding : 25px;
}

.projects-secondary-list .project-panel-left .project-text {
  z-index: 5;
  position: relative;
  background-color: var(--secondary-color-alpha);
  border-radius: 50px;
  padding : 25px;
}

.projects-secondary-list .project-img {
  position:absolute;
  z-index: 3;
  width:100%;
}

.projects-secondary-list .project-header {
  gap: 0px;
}

.projects-secondary-list .project-tag {
  width: 70px;
  font-size: 20px;
}

.projects-secondary-list .project-text {
  min-width:450px;
}

.projects-secondary-list .project-title {
  font-size: 25px;
}

@media screen and (max-width: 1350px) {
  .projects-main-list
  {
    margin-top : 50px;
    display: flex;
    flex-direction: column;
    gap : 50px;
  }

  .project-panel-right {
    float:left;
    position:relative;
    width:100%;
    justify-content: end;
  }
  
  .project-panel-left {
    float:left;
    position:relative;
    width:100%;
    justify-content: end;
  }

  .project-panel-right .project-img
  {
    direction: rtl;
  }
  
  .project-panel-left .project-img
  {
    direction: ltr;
  }

  .project-panel-right .project-text {
    display: block;
    z-index: 5;
    position: relative;
    background-color: var(--primary-color-alpha);
    border-radius: 50px;
  }
  
  .project-panel-left .project-text {
    display: block;
    z-index: 5;
    position: relative;
    background-color: var(--secondary-color-alpha);
    border-radius: 50px;
  }
  
  .project-img {
    position:absolute;
    z-index: 3;
  }
  
  .projects-secondary-list .project-panel-left {
    min-width: 450px;
    justify-content: space-between;
  }

  .projects-secondary-list .project-panel-right {
    min-width: 450px;
    justify-content: space-between;
  }

  .project-text
  {
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding : 50px;
    min-width: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 725px) {
  .project-panel-left {
    min-width: 450px;
    justify-content: space-between;
  }

  .project-panel-right {
    min-width: 450px;
    justify-content: space-between;
  }

  .project-img {
    width:100%;
  }
}