/*
#title .title-panel
  h1
  h2
  section
    title-img
*/

#title
{
  text-align: center;
}

.title-panel {
  padding: 80px;
  background: radial-gradient(rgba(0, 62, 94, 1) 0%, var(--background-color) 75%);
}

.title-panel h1 {
  font-size: 80px;
}

.title-panel h2 {
  font-size: 40px;
}

.title-img {
  height: 400px;
  padding: 20px;
  margin: auto;
}
