
.title {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: radial-gradient(var(--secondary-color) 0%, var(--background-color) 75%); /* green background */
  color: var(--text-color); /* white text color */
  background-repeat: repeat;
  background-position: center;
}

/* Increase the font size of the <h1> element */
.title h1 {
  font-size: 80px;
}

.mySlides {
  height: 400px;
}
